<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Purpose</h2>
                    <h3 class="section-subheading text-muted">Makers Org Nz is a national network of people interested in community, new-digital literacy and/or making and learning in New Zealand. We believe that New Zealand is brimming with latent talent – tinkerers, makers, crafters, creators who have yet to discover their passion – it is our mission to grow a thriving maker movement in NZ. <br><br>This site is intended to showcase makers, to share projects people are working on, to help facilitate discussions and collaboration between those making and those looking to make. We want to help build the tools to support that vision of a prosperous NZ fuelled by highly skilled individuals (who are most importantly, having FUN!). We do this through advocacy projects, through the building of significant prototypes or through sponsorship of local initiatives.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bolt fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Strategy</h4>
                    <p class="text-muted">We’re constantly working to answer the questions of how to make the maker movement in NZ thrive and developing a strategy to enable others to get onboard and contribute.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Enabling Maker Spaces</h4>
                    <p class="text-muted">One of the goals of MoNZ is to enable others to set up makerspaces. Doing what we can to help the network grow and remain sustainable. Providing support, information and networking opportunities.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Research</h4>
                    <p class="text-muted">At MoNZ we believe that we have to learn from experience. So we use projects(big and small) to inform and guide us. At any time we can have multiple projects, big and small underway.</p>
                </div>
                <!-- <div class="col-md-4" style="margin:0 auto;">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cubes fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Executing Big Ideas</h4>
                    <p class="text-muted">For the last 5 years MoNZ has been focusing on taking the Maker movement national across NZ. Whether it’s mobile makerspaces,  national Maker Events or gnarly projects, we’re in the thick of it!</p>
                </div> -->
            </div>
        </div>
    </section>
